# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [85]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [86]:
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [87]:
ride_data_df.head()

                 city           date   fare       ride_id
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.739410e+12
1  South Michelleport   3/4/19 18:24  30.24  2.343910e+12
2  Port Samanthamouth   2/24/19 4:29  33.44  2.005070e+12
3          Rodneyfort  2/10/19 23:22  23.44  5.149250e+12
4          South Jack    3/6/19 4:28  34.58  3.908450e+12

In [88]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

                 city           date   fare       ride_id  driver_count   type
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.739410e+12             5  Urban
1  South Michelleport   3/4/19 18:24  30.24  2.343910e+12            72  Urban
2  Port Samanthamouth   2/24/19 4:29  33.44  2.005070e+12            57  Urban
3          Rodneyfort  2/10/19 23:22  23.44  5.149250e+12            34  Urban
4          South Jack    3/6/19 4:28  34.58  3.908450e+12            46  Urban

## Deliverable 1: Get a Summary DataFrame

In [89]:
# 1. Get the total drivers for each city type
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]

total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [90]:
#2. Get the total rides for each city type
total_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]

total_ride_count

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [91]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]

total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [92]:
#  4. Get the average fare per ride for each city type, dividing the sum of all the fares by the total rides.
avg_fare = total_fares / total_ride_count

avg_fare

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [93]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = total_fares / total_drivers

avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [94]:
#  6. Create a PyBer summary DataFrame. 
PyBer_summary_df = pd.DataFrame ({
    "Total Rides" : total_ride_count, 
    "Total Drivers" : total_drivers, 
    "Total Fares" : total_fares, 
    "Average Fare per Ride" : avg_fare,
    "Average Fare per Driver" : avg_fare_per_driver
})

PyBer_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [95]:
#  7. Cleaning up the DataFrame. Delete the index name
PyBer_summary_df.index.name = None

PyBer_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [96]:
PyBer_summary_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Rural to Urban
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Total Rides              3 non-null      int64
 1   Total Drivers            3 non-null      int64
 2   Total Fares              3 non-null      float64
 3   Average Fare per Ride    3 non-null      float64
 4   Average Fare per Driver  3 non-null      float64
dtypes: float64(3), int64(2)
memory usage: 224.0+ bytes

In [100]:
#  8. Format the columns.
PyBer_summary_df ["Total Fares"] = PyBer_summary_df ["Total Fares"].map("${:.2f}".format)
PyBer_summary_df ["Average Fare per Ride"] = float(PyBer_summary_df ["Average Fare per Ride"]).map("${:.2f}".format)
PyBer_summary_df ["Average Fare per Driver"] = float(PyBer_summary_df ["Average Fare per Driver"]).map("${:.2f}".format)

PyBer_summary_df

SyntaxError: invalid character in identifier (<ipython-input-100-4a1b600e6b53>, line 3)

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame
pyber_data_df.head()

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
sum_fares = pyber_data_df.groupby(["type", "date"]).sum()["fare"]

sum_fares

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
sum_fares = sum_fares.reset_index()

sum_fares

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.
sum_fare_pivot = sum_fares.pivot(index = "date", columns = "type" , values = "fare")

sum_fare_pivot

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
jan_april_fares = sum_fare_pivot.loc['1/1/19':'4/29/19']
jan_april_fares

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
jan_april_fares.index = pd.to_datetime(jan_april_fares.index)

jan_april_fares

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()
jan_april_fares.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
fares_per_week = jan_april_fares.resample('W').sum()

fares_per_week

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

In [ ]:
ax=fares_per_week.plot(figsize =(20,6))
ax.set_title("Total Fares by City Type")
ax.set_xlabel("Months")
ax.set_ylabel("Fares in Dollars")

plt.show()